body{
    background-image:url('../../../Assets/abstract4_img.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.logo1 img{
    width: 180px;
    border-radius: 50%;
}